*{
  margin:0;  
}
body{
    background-color: rgb(235, 231, 231);
}

ul{
    list-style: none;
}

.jumbotron{
    margin-top: 50px;
    padding: 10px;
}

#alert{
    margin-top: 5px;
    width: 500px;
}

div{
    padding: 5px;
}