    {% include 'base.html'%}
    {% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ h1 }}</h1>
        <p class="lead">Learning Outcomes:</p>
        <ol>
            <li>Creating Flask Route /convert</li>
            <li>Uploading Images to a Local Folder in Python</li>
            <li>Creating Forms with WTF Forms</li>
            <li>Utilizing Pillow Image Manipulation Library to Convert Images</li>
        </ol>
        <hr class="my-4">
        <p>Using the Pillow library, this form will manipulate an image of your choice. There are four options, convert to jpeg, png, grayscale or click palet create a paletized image.</p>
    </div>
<div class="container">
    <div class="row">
        <div class="col" style="max-width: 350px;">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.img(class="form-control") }}
                <br>
                {{ form.operation(class="form-control")}}
                <br>
                {{ form.submit(class="btn btn-success")}}
            </form>
        </div>
        <div class="col">
            {% if new_image %}
            <div id="alert" class="alert alert-success" role="alert">Your File Is Available <a href={{new_image}}>Here</a></div>
            {% endif %}
        </div>
    </div>
</div> 
<hr class="my-4">
    {% endblock %}