{% include 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Iris Prediction</h1>
    <p class="lead">{{ paragraph }}</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('predict') }}">
                <label for="sepal_length">Sepal Length:</label>
                <input class="form-control" type="text" name="sepal_length" id="sepal_length" required>
                <br>
                <label for="sepal_width">Sepal Width:</label>
                <input class="form-control" type="text" name="sepal_width" id="sepal_width" required>
                <br>
                <label for="petal_length">Petal Length:</label>
                <input class="form-control" type="text" name="petal_length" id="petal_length" required>
                <br>
                <label for="petal_width">Petal Width:</label>
                <input class="form-control" type="text" name="petal_width" id="petal_width" required>
                <br>
                <button class="btn btn-success" type="submit">Predict</button>
            </form>
        </div>
        <div class="col">
            {% if prediction == 0 %}
            <div class="card" style="width: 18rem;">
                <img src="static/images/setosa.jpg" class="card-img-top" alt="setosa">
                <div class="card-body">
                    <h5 class="card-title">{{ class_flower }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            {% endif %}
            {% if prediction == 1 %}
            <div class="card" style="width: 18rem;">
                <img src="static/images/versicolor.jpg" class="card-img-top" alt="versicolor">
                <div class="card-body">
                    <h5 class="card-title">{{ class_flower }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            {% endif %}
            {% if prediction == 2 %}
            <div class="card" style="width: 18rem;">
                <img src="static/images/virginica.jpg" class="card-img-top" alt="virginica">
                <div class="card-body">
                    <h5 class="card-title">{{ class_flower }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            {% endif %}
    </div>
 </div>

{% endblock %}