{% include 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Iris Prediction</h1>
    <p class="lead">Learning Outcomes:</p>
    <ol>
        <li>Creating a secondary Flask Route /predict</li>
        <li>Creating a model with a decision tree from Iris Dataset</li>
        <li>WTF forms for input</li>
        <li>Predict an Iris species using the model</li>
    </ol>
    <hr class="my-4">
    <p>Please enter a Sepal and Petal width and length for the Model to use. It will predict one of three Iris species: Setosa, Versicolor, and Virginica.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col" style="max-width: 400px;">
            <form method="POST" action="{{ url_for('predict') }}">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="sepal_length" id="sepal_length" placeholder="1.9" required>
                    <label for="sepal_length">Sepal Length</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="sepal_width" id="sepal_width" placeholder="3.9" required>
                    <label for="sepal_width">Sepal Width</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="petal_length" id="petal_length" placeholder="4" required>
                    <label for="petal_length">Petal Length</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="petal_width" id="petal_width" placeholder="2" required>
                    <label for="petal_width">Petal Width</label>
                </div>
                <button class="btn btn-success" type="submit">Predict</button>
            </form>
        </div>
        <div class="col">
            {% if prediction == 0 %}
                <div class="card" style="width: 18rem;">
                    <img src="static/images/setosa.jpg" class="card-img-top" alt="setosa">
                    <div class="card-body">
                        <h5 class="card-title">Iris Setosa</h5>
                      <p class="card-text">Iris setosa, the bristle-pointed or Arctic iris, is distributed around the Arctic Ocean and down temperate coastlines into Alaska and BC in western North American and the Atlantic provinces in the east. </p>
                    </div>
                </div>
                {% endif %}
                {% if prediction == 1 %}
                <div class="card" style="width: 18rem;">
                    <img src="static/images/versicolor.jpg" class="card-img-top" alt="versicolor">
                    <div class="card-body">
                        <h5 class="card-title">Iris Versicolor</h5>
                      <p class="card-text">It is a species of Iris native to North America, in the Eastern United States and Eastern Canada. It is common in sedge meadows, marshes, and along streambanks and shores. The specific epithet versicolor means "variously colored".</p>
                    </div>
                </div>
                {% endif %}
                {% if prediction == 2 %}
                <div class="card" style="width: 18rem;">
                    <img src="static/images/virginica.jpg" class="card-img-top" alt="virginica">
                    <div class="card-body">
                        <h5 class="card-title">Iris Virginica</h5>
                      <p class="card-text">A southern wetland species occurring from Virginia to Florida and Texas, Iris virginica is 3 feet tall with bright green leaves that often lie on the ground or water.</p>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
</div>
<hr class="my-4">
{% endblock %}